<div class="prose {{ if .bgPrimary }} !prose-invert {{ end }}">
  {{ .section.content | .page.RenderString }}
</div>

{{ $page := .page }}
{{ $bgPrimary := .bgPrimary }}
<ul class="px-0 mt-3">
{{ range $i, $ch := .section.channels }}
  <li class="md:inline-block text-center prose list-none my-1 px-0 {{ if $bgPrimary }} !prose-invert {{ end }} {{ if $i }} md:before:content-[attr(before)] {{ end }}" before="&nbsp;|&nbsp;">
    {{ $ch | $page.RenderString }}
  </li>
{{ end }}
</ul>

<div class="chat chat-start">
  <div class="chat-bubble">
    {{ .section.msgBubble }}
  </div>
</div>