<div 
  class="overflow-hidden w-[calc(100vw+32px)] max-w-[2000px] no-scrollbar [mask-image:_linear-gradient(to_right,transparent_0,_black_16px,_black_calc(100%-16px),transparent_100%)]"
>
  <infinite-scroll-x class="grid grid-rows-2 grid-flow-col sm:auto-cols-[65ch] auto-cols-[32ch] gap-4 w-min" >
  {{ range .section.articles }}
    <div class="card bg-base-100 shadow-xl prose p-4 pt-0 mt-6 flex-shrink-0 flex snap-center offset">
      <div class="flex justify-center -m-6">
        {{ $logo := resources.GetMatch .logo }}
        <img 
          {{ if eq $logo.MediaType.SubType "svg" }}
            src="{{ $logo.RelPermalink | safeURL }}" 
          {{ else }}
            src="{{ ($logo.Fit "96x48").RelPermalink | safeURL }}" 
          {{ end }}
          class="h-12 max-w-24 fit-contain m-0 {{ if .logoShadow }} shadow-xl {{ end }}"
          alt="Logo von {{ .publication }}"
        >
      </div>

      <div class="flex-grow mt-8">
        <div class="flex items-center gap-3 flex-shrink">
          <h4 class="text-pretty mt-0 line-clamp-3">
            <a href="{{ .url }}" target="_blank">
              {{ .title  }}
            </a>
          </h4> 
        </div>

        <p class="line-clamp-3 sm:line-clamp-2 mt-0 mb-3">
          {{ .summary }}
        </p>

      </div>
      <a href="{{ .url }}" target="_blank" class="m-0 leading-none">Zum Beitrag von {{ .publication }}</a>
    </div>
  {{ end }}
  </infinite-scroll-x>
</div>
