<div
  class="max-w-[2000px] -mb-8 pb-8 [mask-image:_linear-gradient(to_right,transparent_0,_black_16px,_black_calc(100%-16px),transparent_100%)]">

  {{/* Fallback to default language for things like testimonials */}}
  {{ $pages := page.Site.RegularPages }}
  {{ range page.Translations }}
  {{ $pages = $pages | lang.Merge .Site.RegularPages }}
  {{ end }}
  {{ $coverages := where $pages "Section" "coverage" }}

  <infinite-scroll-x class="grid grid-rows-2 grid-flow-col sm:auto-cols-[65ch] auto-cols-[32ch] gap-4 w-min">
    {{ range $coverages }}
    {{ partial "media-coverage-item.html" . }}
    {{ end }}
  </infinite-scroll-x>

</div>

<div class="mt-8 -mb-8">
  {{ $coverageURL := "/coverage" }}
  <a href="{{ $coverageURL | relLangURL }}">{{ T "listView" }}</a>
</div>
