<form class="join sm:join-horizontal join-vertical max-w-[65ch] w-full" method="POST" action="{{ .page.Site.Params.newsletter.subscribeURL }}" target="_blank">
  <input class="input input-bordered join-item flex-grow" placeholder="Email" type="email" name="feld_email" id="feld_email" required />
  <label class="label sr-only" for="feld_email"></label>
  <input class="btn btn-primary join-item font-normal text-base" type="submit" sumbin value="Newsletter abonieren" />
</form>

<h3 class="text-center">{{ .section.shareTitle }} </h3>
<p class="prose text-center {{ if .bgPrimary }} !prose-invert {{ end }}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consequat pellentesque eros, fermentum efficitur lectus varius vel.</p>
<ul class="p-0 mt-1 flex gap-1 sm:gap-2">
  {{ range .section.shareLinks }}
  <li class="inline-block my-0 p-0">
    {{ partial "utils/share-btn" . }}
  </li>
  {{ end }}
</ul>