<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
</head>

<body class="min-h-screen flex flex-col">
  <header class="sticky top-0 z-30">
    {{ partial "header.html" . }}
  </header>
  <main class="flex-grow">
    {{ block "main" . }}{{ end }}
  </main>
  <footer class="bg-primary text-primary-content p-10 mt-[1px]">
    {{ partial "footer.html" . }}
  </footer>
  {{ partialCached "js.html" . }}
</body>

</html>
