@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: light;
}
@config "./tailwind.config.js";
@source "hugo_stats.json";

@import "fonts.css";
@import "lite-yt-embed.css";
@import "carousel.css";

:root {
  --color-primary: #e00370;
  --color-primary-content: #ffffff;
  --color-neutral: #3d4451;
  --color-neutral-content: #ffffff;
  --color-accent: #8d86c9;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --depth: 0;
  --noise: 0;
  --size-field: 0.3rem;
  --size-selectors: 0.3rem;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: Roboto;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav,
.font-title {
  font-family: "Source Code Pro", 'Courier New', monospace;
  font-weight: 600;
}

.prose {
  --tw-prose-invert-bullets: "#ffffff";
  --tw-prose-invert-body: "#ffffff";
}

.icon {
  width: 1em;
  height: 1em;
  /* vertical-align: -0.125em; */
  display: inline;
  fill: currentColor;
  stroke: currentColor;
}

.fit-contain {
  object-fit: contain;
}

.prose {
  line-height: 1.5 !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.offset:nth-child(even) {
  transform: translateX(calc(-50% - 0.5rem));
}

.media-coverage-item {
  p {
    @apply md:line-clamp-3 line-clamp-2 mt-0 mb-3;
  }
}

infinite-scroll-x {
  animation: scroll-horizontal 60s linear infinite;
}

infinite-scroll-x:hover {
  animation-play-state: paused;
}

@keyframes scroll-horizontal {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(calc(-50% - 0.5rem));
  }
}
