<p class="text-center">
    <a class="link" href="{{ .Site.Params.footer.privacyURL }}" target="_blank">{{ T "privacy" }}</a>
    |
    <a class="link" href="{{ .Site.Params.footer.imprintURL }}" target="_blank">{{ T "imprint" }}</a>
    |
    <a href="{{ .Site.Params.footer.githubURL }}" class="link" target="_blank">GitHub</a>
</p>

<p class="text-center font-mono -mb-9 mt-4 text-xs">
    Design: <a href="https://isabellahorn.com" class="link" target="_blank">Isabella Horn</a> |
    Code: <a href="https://muehlberger.dev" class="link" target="_blank">Tobias Mühlberger</a>
</p>
