<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ site.Title }}</title>
<meta name="description" content="{{ .Site.Params.description }}">

{{ $socialShareImageURL := (resources.GetMatch .Site.Params.socialShareImage).Permalink }}

{{ $rootUrl := "/" }}
<meta property="og:url" content="{{ $rootUrl | absLangURL }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ site.Title }}">
<meta property="og:image" content="{{ $socialShareImageURL }}">
<meta property="og:description" content="{{ .Site.Params.description }}">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary">
<meta property="twitter:domain" content="{{ .Site.Params.domain }}">
<meta property="twitter:url" content="{{ $rootUrl | absLangURL }}">
<meta name="twitter:title" content="{{ site.Title }}">
<meta name="twitter:description" content="{{ .Site.Params.description }}">
<meta name="twitter:image" content="{{ $socialShareImageURL }}">

<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="{{ site.Title }}" />
<link rel="manifest" href="/site.webmanifest" />

{{ partialCached "css.html" . }}
