{{ $url := "" }}
{{ $icon := "" }}

{{ if eq .service "WhatsApp" }}
  {{ $icon = "whatsapp" }}
  {{ $url = printf "https://wa.me/?text=%s" (urlquery .message) }}
{{ else if eq .service "E-Mail" }}
  {{ $icon = "email" }}
  {{ $url = printf "mailto://?subject=%s&body=%s" (urlquery .subject) (urlquery .message) }}
{{ else if eq .service "Twitter" }}
  {{ $icon = "twitter" }}
  {{ $url = printf "https://twitter.com/share?url=%s" (urlquery .message) }}
{{ else if eq .service "Telegram" }}
  {{ $icon = "telegram" }}
  {{ $url = printf "https://t.me/share/url?url=%s" (urlquery .message) }}
{{ else if eq .service "LinkedIn" }}
  {{ $icon = "linkedin" }}
  {{ $url = printf "https://www.linkedin.com/sharing/share-offsite/?url=%s" (urlquery .message) }}
{{ else if eq .service "Facebook" }}
  {{ $icon = "facebook" }}
  {{ $url = printf "https://www.facebook.com/sharer/sharer.php?u=%s" (urlquery .message) }}
{{ else if eq .service "Reddit" }}
  {{ $icon = "reddit" }}
  {{ $url = printf "https://www.reddit.com/submit?url=%s" (urlquery .message) }}
{{ else }}
  {{ fmt.Errorf "share-btn: unknown service %s" .service }}
{{ end }}

<a href="{{ $url | safeURL }}" class="btn btn-circle btn-primary text-2xl" target="_blank" title="{{ .service }}">
  {{ partial "utils/icon" $icon }}
  <span class="sr-only">Share via {{ .service }}</span>
</a>
