{{ $class := "btn btn-circle btn-primary text-2xl" }}
{{ $srText := printf "Via %s teilen" .service }}

{{ if eq .service "WhatsApp" }}
  <a href="https://api.whatsapp.com/send?text={{ .message }}" class="{{ $class }}" target="_blank" title="{{ .service }}">
    {{ partial "utils/icon" "whatsapp" }}
    <span class="sr-only">{{ $srText }}</span>
  </a>
{{ else if eq .service "E-Mail" }}
  <a href="mailto:?subject={{ .subject }}&body={{ .message }}" class="{{ $class }}" target="_blank" title="{{ .service }}">
    {{ partial "utils/icon" "email" }}
    <span class="sr-only">{{ $srText }}</span>
  </a>
{{ else if eq .service "Twitter" }}
  <a href="https://twitter.com/share?text={{ .message }}&url={{ .url }}" class="{{ $class }}" target="_blank" title="{{ .service }}">
    {{ partial "utils/icon" "twitter" }}
    <span class="sr-only">{{ $srText }}</span>
  </a>
{{ else if eq .service "Telegram" }}
  <a href="https://t.me/share/url?text={{ .message }}&url={{ .url }}" class="{{ $class }}" target="_blank" title="{{ .service }}">
    {{ partial "utils/icon" "telegram" }}
    <span class="sr-only">{{ $srText }}</span>
  </a>
{{ else if eq .service "LinkedIn" }}
  <a href="https://www.linkedin.com/sharing/share-offsite/?text={{ .message }}&url={{ .url }}" class="{{ $class }}" target="_blank" title="{{ .service }}">
    {{ partial "utils/icon" "linkedin" }}
    <span class="sr-only">{{ $srText }}</span>
  </a>
{{ else if eq .service "Facebook" }}
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ .url }}" class="{{ $class }}" target="_blank" title="{{ .service }}">
    {{ partial "utils/icon" "facebook" }}
    <span class="sr-only">{{ $srText }}</span>
  </a>
{{ else if eq .service "Reddit" }}
  <a href="https://www.reddit.com/submit?title={{ .message }}&url={{ .url }}" class="{{ $class }}" target="_blank" title="{{ .service }}">
    {{ partial "utils/icon" "reddit" }}
    <span class="sr-only">{{ $srText }}</span>
  </a>
{{ else }}
  {{ fmt.Errorf "share-btn: unknown service %s" .service }}
{{ end }}
